APP_KEY=
# run: php -r "echo 'APP_KEY=' . bin2hex(random_bytes(32)) . PHP_EOL;"
ADMIN_USERNAME=admin
# Change ADMIN_USERNAME to anything you want
ADMIN_PASSWORD_HASH=
# run (change yourpass to a password you want to use): php -r "echo password_hash('yourpass', PASSWORD_DEFAULT);"
